<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    profileName="site95725-WebDeploy"
    publishMethod="MSDeploy"
    publishUrl="site95725.siteasp.net"
    msdeploySite="site95725"
    userName="site95725"
    userPWD="2t-Jc@Y3P6?a"
    destinationAppUrl="http://cateringflow.runasp.net/"
    />
</publishData>
